@import "../../app.scss"; 

.parallax {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-size: 60px;

        @include mobile{
            font-size: 30px;
            text-align: center;
        }
        
    }

    .mountains {
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        background-image: url("../../assets/mountains.png");

        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .planets {
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-image: url("../../assets/planets.png");

        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .stars {
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-image: url("../../assets/stars.png");
    }
}
